html {
    scroll-behavior: smooth;
    color: #3E3E3E;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'ABeeZee';
    width: 100vw;
    height: 100vh;
    background: #E6E6E6;
}

header {
    display: flex;
}

header img#logo {
    margin-top: 12px;
    margin-left: 12px;
    width: 9.3%;
}

header img#toggler {
    display: none;
}

header nav#navigation {
    margin: auto;
    display: flex;
    gap: 24px;
}

header nav#navigation a {
    font-size: 1.875em;
    text-decoration: none;
    color: #3E3E3E;
    transition: 0.2s;
}

header nav#navigation a:hover {
    color: #FFFFFF;
}

header form#logout {
    display: contents;
}

header a#login, header form#logout input#logout {
    all: unset;
    width: 5.21vw;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    background: #3C91E6;
    color: #FFFFFF;
    margin-top: 12px;
    border-radius: 10px;
    margin-right: 12px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
}

header a#login:hover, header form#logout input#logout:hover {
    background: rgb(43, 104, 166);
}

main {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    height: 84vh;
    position: relative;
}

main div#tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}

main div#tab-container div#search-bar {
    background: #F4F4F4;
    width: 100%;
    height: 100%;
}

main div#tab-container div#search-bar form#search-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

main div#tab-container div#search-bar form#search-bar select#search-select {
    font-size: 1.4em;
    background: unset;
    border: none;
    padding: 0;
    outline: none;
    text-align: center;
    color: #3E3E3E;
}

main div#tab-container div#search-bar form#search-bar select#search-select option {
    color: #3E3E3E;
}

main div#tab-container div#search-bar form#search-bar input#search-value {
    all: unset;
    font-size: 1.4em;
    width: 100%;
}

main div#tab-container div#search-bar form#search-bar button#search-submit {
    all: unset;
    width: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    cursor: pointer;
}

main div#tab-container div#search-bar form#search-bar button#search-submit img#searchicon {
    width: 100%;
    padding: 5px;
}

main div#table-container {
    height: 100%;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    position: relative;
}

main div#table-container div#table {
    height: 95%;
}

main div#table-container div#table table {
    width: 100%;
    max-height: 100%;
}

main div#table-container div#table table tbody {
    height: 50px;
}

main div#table-container div#table table tbody tr {
    text-align: center;
    font-size: 1.3em;
    height: 100%;
}

main div#table-container div#table table tbody tr td div#options {
    display: flex;
    flex-direction: row;
}

main div#table-container div#table table tbody tr td div#options form.user-options {
    width: 33.3%;
}

main div#table-container div#table table tbody tr td div#options form.user-options button {
    all: unset;
    width: 50%;
    cursor: pointer;
}

main div#table-container div#table table tbody tr td div#options form.user-options button img {
    width: 25px;
}

main div#table-container div#table-next-back {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

main div#table-container div#table-next-back button {
    all: unset;
    font-size: 2.2em;
    cursor: pointer;
    color: #3E3E3E;
    visibility: hidden;
}

main div#table-container div#table-next-back button:hover {
    color: #B9B9B9;
}

main div#table-container div#table-next-back span {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.4em;
}

main div.errornotif, main div.successnotif {
    position: absolute;
    width: 40%;
    height: 7%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
    align-self: center;
}

main div.errornotif {
    background: rgb(255, 64, 62);
}

main div.successnotif {
    background: rgb(15, 198, 60);
}

main div.errornotif p, main div.successnotif p {
    font-size: 1.25em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

main div.errornotif img#error, main div.successnotif img#success {
    position: absolute;
    left: 0;
    height: 70%;
    padding: 0.8vh;
}

main div.errornotif img#error {
    background: rgb(238, 62, 60);
}

main div.successnotif img#success {
    background: rgb(1, 168, 51);
}

main div.errornotif img#close, main div.successnotif img#close {
    position: absolute;
    right: 0;
    height: 45%;
    padding: 2%;
    cursor: pointer;
}

img#scroller {
    display: none;
}

@media screen and (max-width: 1536px) {
    header nav#navigation a {
        font-size: 1.475em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1.475em;
        width: 8vw;
    }
}

@media screen and (max-width: 1458px) {
    main div.errornotif p, main div.successnotif p {
        font-size: 1.1em;
    }

    main div.errornotif img#error, main div.successnotif img#success {
        height: 60%;
        padding: 1.18vh;
    }
}

@media screen and (max-width: 1328px) {
    main div#tab-container div#search-bar form#search-bar select#search-select {
        font-size: 1.2em;
    }

    main div#tab-container div#search-bar form#search-bar input#search-value {
        font-size: 1.2em;
    }

    main div#tab-container div#search-bar form#search-bar button#search-submit {
        width: 35px;
    }

    main div#table-container div#table table tbody tr {
        font-size: 1.1em;
    }

    main div#table-container div#table table tbody tr td div#options form.user-options button img {
        width: 20px;
    }

    main div#table-container div#table table tr td div#options form.user-options button img {
        width: 20px;
    }

    main div#table-container div#table-next-back span {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1324px) {
    header img#logo {
        width: 11.5%;
    }
}

@media screen and (max-width: 1314px) {
    main div.errornotif img#error, main div.successnotif img#success {
        height: 40%;
        padding: 1.75vh;
    }

    main div.errornotif p, main div.successnotif p {
        font-size: 0.92em;
    }

    main div.errornotif img#close, main div.successnotif img#close {
        height: 40%;
    }
}

@media screen and (max-width: 1238px) {
    main div.errornotif, main div.successnotif {
        width: 50%;
    }

    main div.errornotif p, main div.successnotif p {
        font-size: 1em;
    }

    main div.errornotif img#close, main div.successnotif img#close {
        height: 37%;
    }
}

@media screen and (max-width: 1146px) {
    header img#logo {
        width: 12.5%;
    }

    header a#login, header form#logout input#logout {
        line-height: 35px;
    }
}

@media screen and (max-width: 1118px) {
    main div#tab-container div#search-bar {
        width: 100%;
    }

    main div#tab-container div#search-bar input#search-value {
        width: 61%;
    }
}

@media screen and (max-width: 1000px) {
    main div#tab-container div#search-bar form#search-bar select#search-select {
        font-size: 1em;
    }

    main div#tab-container div#search-bar form#search-bar input#search-value {
        font-size: 1em;
    }

    main div#table-container div#table table tbody tr {
        font-size: 0.9em;
    }

    main div#table-container div#table table tbody tr td div#options form.user-options button img {
        width: 15px;
    }

    main div#table-container div#table-next-back button {
        font-size: 2.5em;
    }

    main div#table-container div#table-next-back span {
        font-size: 1em;
    }
}

@media screen and (max-width: 975px) {
    header img#logo {
        width: 12%;
        height: 1%;
    }

    header nav#navigation a {
        font-size: 1.2em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1.2em;
        line-height: 35px;
    }
}

@media screen and (max-width: 969px) {
    main div.errornotif, main div.successnotif {
        width: 65%;
    }
}

@media screen and (max-width: 916px) {
    main div.errornotif p, main div.successnotif p {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 813px) {
    header nav#navigation a {
        font-size: 1em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1em;
    }

    main div#tab-container div#search-bar form#search-bar select#search-select {
        font-size: 0.8em;
    }

    main div#tab-container div#search-bar form#search-bar input#search-value {
        font-size: 0.8em;
    }

    main div#table-container div#table table tbody {
        height: 40px;
    }

    main div#table-container div#table table tbody tr {
        font-size: 0.75em;
    }

    main div#table-container div#table table tbody tr td div#options form.user-options button img {
        width: 14px;
    }

    main div#table-container div#table-next-back button {
        font-size: 2em;
    }

    main div#table-container div#table-next-back span {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 808px) {
    main div.errornotif img#error, main div.successnotif img#success {
        height: 35%;
        padding: 1.9vh;
        padding-left: 0.75vw;
        padding-right: 0.75vw;
    }

}

@media screen and (max-width: 655px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 645px) {
    header a#login, header form#logout input#logout {
        width: 10vw;
    }
}

@media screen and (max-width: 541px) {
    main {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        height: 92.2vh;
    }

    main .open {
        background: #000000;
    }

    header img#logo {
        width: 25%;
    }

    header img#toggler {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 7%;
        display: block;
        z-index: 3;
    }

    header nav#navigation {
        display: flex;
        flex-direction: column;
        width: 50vw;
        position: fixed;
        right: 0;
        height: 100%;
        background: #E6E6E6;
        opacity: 0;
        transform: translateX(100vw);
        transition: transform 0.5s ease, opacity 0.25s ease;
        z-index: 2;
    }

    header div.open {
        background: #000000;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        opacity: 0.6;
    }

    header nav#navigation.open {
        transform: translateX(0);
        margin-top: initial;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.36);
        opacity: 1;
    }

    header nav#navigation.open a {
        margin-left: 6%;
        margin-top: 25%;
        font-size: 1.5em;
    }

    header nav#navigation.open a#login, header form#logout input#logout {
        all: unset;
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        bottom: 0;
        background: #3C91E6;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        cursor: pointer;
    }

    main div.errornotif img#error, main div.successnotif img#success {
        padding: 2.1vh;
        padding-left: 0.75vw;
        padding-right: 0.75vw;
    }
}

@media screen and (max-width: 462px) {
    header nav#navigation.open a {
        font-size: 1em;
    }

    header nav#navigation.open a#login, header form#logout input#logout {
        font-size: 1em;
    }

    main div#tab-container div#search-bar form#search-bar select#search-select {
        font-size: 0.6em;
    }

    main div#tab-container div#search-bar form#search-bar input#search-value {
        font-size: 0.6em;
    }

    main div#table-container div#table table tbody tr {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 455px) {
    main div.errornotif img#error, main div.successnotif img#success {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }

    main div.errornotif p, main div.successnotif p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 410px) {
    main div.errornotif p, main div.successnotif p {
        font-size: 0.85em;
    }
}

