div#editPanel-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
}

div#editPanel-modal div#editPanel {
    width: 31.66%;
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEEEE;
    box-shadow: 0 11px 19px rgb(0, 0, 0, 0.16);
    position: relative;
}

div#editPanel-modal div#editPanel h1 {
    color: #3E3E3E;
    font-size: 1.875em;
    margin: 0;
    margin-bottom: 11px;
    font-weight: normal;
}

div#editPanel-modal div#editPanel img {
    position: absolute;
    width: 25px;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
    filter: brightness(0%);
    cursor: pointer;
}

div#editPanel-modal div#editPanel form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 11px;
    gap: 5%;
}

div#editPanel-modal div#editPanel form input#email {
    all: unset;
    width: 77%;
    height: 61.3%;
    font-size: 1.5em;
    color: #3E3E3E;
    background: #E1DDDD;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

div#editPanel-modal div#editPanel form div#username {
    height: 61.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
}

div#editPanel-modal div#editPanel form div#username input#firstname {
    all: unset;
    width: 45%;
    height: 100%;
    font-size: 1.5em;
    color: #3E3E3E;
    background: #E1DDDD;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

div#editPanel-modal div#editPanel form div#username input#lastname {
    all: unset;
    width: 45%;
    height: 100%;
    font-size: 1.5em;
    color: #3E3E3E;
    background: #E1DDDD;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

div#editPanel-modal div#editPanel form select#role-select {
    font-size: 1.5em;
    border: none;
    padding: 0;
    outline: 0;
    text-align: center;
    width: 77%;
    color: #3E3E3E;
    background: #E1DDDD;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
    height: 61.3%;
}

div#editPanel-modal div#editPanel form select#role-select option {
    font-size: 1.5em;
    text-align: center;
    color: #3E3E3E;
}

div#editPanel-modal div#editPanel form input#submit {
    all: unset;
    width: 77%;
    height: 61.3%;
    font-size: 1.5em;
    color: #FFFFFF;
    background: #3E3E3E;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
    text-align: center;
    cursor: pointer;
}

div#editPanel-modal div#editPanel form input#submit:hover {
    background: #1A1A1A;
}

div#editPanel-modal div#editPanel div.errornotif {
    background: rgb(255, 64, 62);
    position: absolute;
    width: 77%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
    margin-bottom: 11px;
    bottom: 0;
}

div#editPanel-modal div#editPanel div.errornotif p {
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

div#editPanel-modal div#editPanel div.errornotif img#error {
    position: absolute;
    left: 0;
    background: rgb(238, 62, 60);
    height: 76%;
    padding: 0.61vh;
}

div#editPanel-modal div#editPanel div.errornotif img#close {
    position: absolute;
    right: 0;
    height: 45%;
    padding: 2%;
    cursor: pointer;
}

@media screen and (max-width: 1808px) {
    div#editPanel-modal div#editPanel div.errornotif img#error {
        height: 60%;
        padding: 1vh;
    }
}

@media screen and (max-width: 1542px) {
    div#editPanel-modal div#editPanel h1 {
        font-size: 1.65em;
    }

    div#editPanel-modal div#editPanel form input#email {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 1.4em;
    }

    div#editPanel-modal div#editPanel div.errornotif img#error {
        height: 53%;
        padding: 1.35vh;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1.4em;
        margin-left: 1.5vw;
    }
}

@media screen and (max-width: 1314px) {
    div#editPanel-modal div#editPanel form input#email {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel div.errornotif img#error {
        height: 45%;
        padding: 1.5vh;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1238px) {
    div#editPanel-modal div#editPanel form input#email {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1082px) {
    div#editPanel-modal div#editPanel h1 {
        font-size: 1.5em;
    }

    div#editPanel-modal div#editPanel img {
        width: 18px;
    }
}

@media screen and (max-width: 969px) {
    div#editPanel-modal div#editPanel h1 {
        font-size: 1.3em;
    }

    div#editPanel-modal div#editPanel form input#email {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 1em;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1em;
    }
}

@media screen and (max-width: 916px) {
    div#editPanel-modal div#editPanel h1 {
        font-size: 1.3em;
    }

    div#editPanel-modal div#editPanel form input#email {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 0.95em;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 808px) {
    div#editPanel-modal div#editPanel form input#email {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 0.85em;
    }

    div#editPanel-modal div#editPanel div.errornotif img#error {
        height: 35%;
        padding: 1.68vh;
        padding-left: 0.75vw;
        padding-right: 0.75vw;
    }
}

@media screen and (max-width: 755px) {
    div#editPanel-modal div#editPanel h1 {
        font-size: 1.1em;
    }

    div#editPanel-modal div#editPanel form input#email {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 0.8em;
    }

    div#editPanel-modal div#editPanel {
        width: 15px;
    }
}

@media screen and (max-width: 668px) {
    div#editPanel-modal div#editPanel form input#email {
        font-size: 0.7em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 0.7em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 0.7em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 0.7em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 0.7em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 645px) {
    div#editPanel-modal div#editPanel {
        width: 100vw;
        height: 41.8vh;
    }

    div#editPanel-modal div#editPanel h1 {
        font-size: 2em;
    }

    div#editPanel-modal div#editPanel form {
        height: 100%;
        gap: 19px;
    }

    div#editPanel-modal div#editPanel form input#email {
        height: 23.7%;
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel form div#username {
        height: 23.7%;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        height: 100%;
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        height: 100%;
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        height: 23.7%;
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        height: 23.7%;
        font-size: 1.45em;
    }

    div#editPanel-modal div#editPanel div.errornotif {
        bottom: 0;
        width: 77%;
        height: 19%;
    }

    div#editPanel-modal div#editPanel div.errornotif img#error {
        height: 64%;
        padding: 1.1vh;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1.4em;
        margin-left: 3vw;
    }

    div#editPanel-modal div#editPanel img {
        width: 20px;
    }
}

@media screen and (max-width: 455px) {
    div#editPanel-modal div#editPanel div.errornotif img#error {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}

@media screen and (max-width: 410px) {
    div#editPanel-modal div#editPanel form input#email {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form div#username input#firstname {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form div#username input#lastname {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form select#role-select {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form select#role-select option {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel form input#submit {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel div.errornotif p {
        font-size: 1.2em;
    }

    div#editPanel-modal div#editPanel img {
        width: 15px;
    }
}

