html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'ABeeZee';
    width: 100vw;
    min-height: 100vh;
    background: #E6E6E6;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    grid-template-areas: "Header Header" "Left Right";
}

header {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    background: #E6E6E6;
}

header img#logo {
    margin-top: 12px;
    margin-left: 12px;
    width: 9.3%;
}

header img#toggler {
    display: none;
}

header nav#navigation {
    margin: auto;
    display: flex;
    gap: 24px;
}

header nav#navigation a {
    font-size: 1.875em;
    text-decoration: none;
    color: #3E3E3E;
    transition: 0.2s;
}

header nav#navigation a:hover {
    color: #FFFFFF;
}

header form#logout {
    display: contents;
}

header a#login, header form#logout input#logout {
    all: unset;
    width: 5.21vw;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    background: #3C91E6;
    color: #FFFFFF;
    margin-top: 12px;
    border-radius: 10px;
    margin-right: 12px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    height: fit-content;
    cursor: pointer;
}

header a#login:hover, header form#logout input#logout:hover {
    background: rgb(43, 104,166);
}

main {
    grid-area: Left;
    display: flex;
    flex-direction: column;
    margin-top: 8.5%;
    margin-bottom: 5%;
    height: auto;
}

main div#blog-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

main div#blog-content img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

main div#blog-content div#blog-info {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

main div#blog-content div#blog-info div#blog-title {
    display: flex;
    align-items: center;
    height: 8.18%;
    width: 100%;
}

main div#blog-content div#blog-info div#blog-title h2 {
    font-weight: normal;
    color: #3E3E3E;
    font-size: 2.8125em;
    margin: 0;
    width: 75%;
}

main div#blog-content div#blog-info div#blog-title div#blog-edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5%;
    width: 12.5%;
    position: relative;
}

main div#blog-content div#blog-info div#blog-title div#blog-edit-delete img {
    width: 12.5%;
    margin: 0;
}

main div#blog-content div#blog-info div#blog-title div#blog-edit-delete a#edit {
    width: 12.5%;
    position: absolute;
    height: 100%;
    left: 0;
}

main div#blog-content div#blog-info div#blog-title div#blog-edit-delete a#remove {
    width: 12.5%;
    position: absolute;
    height: 100%;
    left: 17.5%;
}

main div#blog-content div#blog-info div#blog-title div.blog-datetime {
    display: flex;
    flex-direction: row;
    width: 12.5%;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

main div#blog-content div#blog-info div#blog-title div.blog-datetime img {
    width: 10%;
    margin: 0;
}

main div#blog-content div#blog-info div#blog-title div.blog-datetime h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

main div#blog-content div#blog-info h3 {
    font-weight: normal;
    color: #3E3E3E;
    font-size: 1em;
    margin-top: 0;
}

main div#blog-content div#blog-info p {
    font-size: 1.5625em;
    color: #3E3E3E;
}

section#recent-posts {
    display: flex;
    flex-direction: column;
    top: 8.1%;
    overflow: hidden;
    position: fixed;
    width: 25%;
    right: 0;
    min-height: 100vh;
    gap: 2vh;
}

section#recent-posts::before {
    border-right: 3px solid #707070;
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    height: 78%;
    opacity: 25%;
    margin-top: 7.5%;
}

section#recent-posts h3 {
    font-size: 2.1875em;
    text-align: center;
    font-weight: normal;
    color: #3E3E3E;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

section#recent-posts div.recent-post {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    position: relative;
}

section#recent-posts div.recent-post img {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

section#recent-posts div.recent-post div.blog-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5%;
}

section#recent-posts div.recent-post div.blog-info h4 {
    font-weight: normal;
    width: fit-content;
    margin: 0;
    font-size: 1.5625em;
    color: #3E3E3E;
}

section#recent-posts div.recent-post div.blog-info div.blog-datetime {
    display: flex;
    flex-direction: row;
}

section#recent-posts div.recent-post div.blog-info div.blog-datetime img {
    width: 5.5%;
}

section#recent-posts div.recent-post div.blog-info div.blog-datetime h5 {
    margin: 0;
    font-weight: normal;
    width: fit-content;
    font-size: 1em;
    color: #3E3E3E;
    margin-left: 1%;
}

section#recent-posts div.recent-post a.recent-post-ref {
    position: absolute;
    width: 100%;
    height: 100%;
}

#scroller {
    display: none;
    width: 3%;
    position: fixed;
    z-index: 1;
    bottom: 1%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#scroller.scrolled {
    display: block;
}

@media screen and (min-width: 1920px) {
    section#recent-posts div.recent-post img {
        width: 40%;
    }
}

@media screen and (max-width: 1655px) {
    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        width: 15%;
    }
}

@media screen and (max-width: 1536px) {
    header nav#navigation a {
        font-size: 1.475em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1.475em;
        width: 8vw;
    }

    main div#blog-content div#blog-info div#blog-title h2 {
        font-size: 2.2em;
    }

    main div#blog-content div#blog-info h3 {
        font-size: 0.85em;
        margin-bottom: 0;
    }

    main div#blog-content div#blog-info p {
        font-size: 1.5em;
    }

    section#recent-posts h3 {
        font-size: 2.1em;
    }

    section#recent-posts div.recent-post img {
        width: 70%;
    }

    section#recent-posts div.recent-post div.blog-info h4 {
        font-size: 1.45em;
    }

    section#recent-posts div.recent-post div.blog-info div.blog-datetime img {
        width: 6%;
        height: 5%;
    }

    section#recent-posts div.recent-post div.blog-info div.blog-datetime h5 {
        font-size: 0.9em;
    }

    #scroller {
        width: 4%;
    }
}

@media screen and (max-width: 1414px) {
    main div#blog-content div#blog-info div#blog-title div#blog-edit-delete {
        width: 17.5%;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        width: 20%;
    }

    main div#blog-content div#blog-info p {
        font-size: 1.35em;
    }
}

@media screen and (max-width: 1324px) {
    header img#logo {
        width: 11.5%;
    }
}

@media screen and (max-width: 1300px) {
    main div#blog-content div#blog-info div#blog-title h2 {
        font-size: 2.1em;
    }

    section#recent-posts h3 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1146px) {
    header img#logo {
        width: 12.5%;
    }

    header a#login, header form#logout input#logout {
        line-height: 35px;
    }
}

@media screen and (max-width: 1166px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        position: unset;
        background: unset;
    }

    main {
        margin-top: 4.25%;
    }

    section#recent-posts {
        position: unset;
        width: 100vw;
        min-height: auto;
        margin-bottom: 10%;
    }

    section#recent-posts::before {
        position: unset;
        height: unset;
        width: 80%;
        border-top: 3px solid #707070;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    section#recent-posts h3 {
        margin-top: 0;
    }

    section#recent-posts div.recent-post img {
        width: 15%;
    }

    section#recent-posts div.recent-post div.blog-info div.blog-datetime img {
        width: 2.5%;
    }
}

@media screen and (max-width: 975px) {
    header img#logo {
        width: 12%;
        height: 1%;
    }

    header nav#navigation a {
        font-size: 1.2em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1.2em;
        line-height: 35px;
    }

    main div#blog-content div#blog-info p {
        font-size: 1.15em;
    }

    section#recent-posts h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 872px) {
    main div#blog-content div#blog-info div#blog-title h2 {
        font-size: 1.5em;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        width: 25%;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime h3 {
        font-size: 0.85em;
    }

    main div#blog-content div#blog-info p {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 813px) {
    header nav#navigation a {
        font-size: 1em;
    }

    header a#login, header form#logout input#logout {
        font-size: 1em;
    }

    #scroller {
        width: 5%;
    }
}

@media screen and (max-width: 645px) {
    header a#login, header form#logout input#logout {
        width: 10vw;
    }
}

@media screen and (max-width: 626px) {
    main div#blog-content img {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
    }

    main div#blog-content div#blog-info div#blog-title div#blog-edit-delete img {
        width: 25%;
    }

    main div#blog-content div#blog-info div#blog-title div#blog-edit-delete a#edit {
        width: 25%;
    }

    main div#blog-content div#blog-info div#blog-title div#blog-edit-delete a#remove {
        width: 25%;
        left: 51%;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        width: 30%;
    }

    section#recent-posts div.recent-post img {
        width: 25%;
    }

    section#recent-posts div.recent-post div.blog-info div.blog-datetime img {
        width: 3.5%;
    }
}

@media screen and (max-width: 544px) {
    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        width: 35%;
    }
}

@media screen and (max-width: 541px) {
    main .open {
        background: #000000;
    }

    header img#logo {
        width: 25%;
    }

    header img#toggler {
        position: fixed;
        top: 12px;
        right: 12px;
        width: 7%;
        display: block;
        z-index: 3;
    }

    header nav#navigation {
        display: flex;
        flex-direction: column;
        width: 50vw;
        position: fixed;
        right: 0;
        height: 100%;
        background: #E6E6E6;
        opacity: 0;
        transform: translateX(100vw);
        transition: transform 0.5s ease, opacity 0.25s ease;
        z-index: 2;
    }

    header div.open {
        background: #000000;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        opacity: 0.6;
    }

    header nav#navigation.open {
        transform: translateX(0);
        margin-top: initial;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.36);
        opacity: 1;
    }

    header nav#navigation.open a {
        margin-left: 6%;
        margin-top: 25%;
        font-size: 1.5em;
    }

    header nav#navigation.open a#login, header form#logout input#logout {
        all: unset;
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        bottom: 0;
        background: #3C91E6;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        cursor: pointer;
    }

    #scroller {
        width: 8%;
    }
}

@media screen and (max-width: 498px) {
    main div#blog-content div#blog-info div#blog-title h2 {
        font-size: 1.2em;
    }

    main div#blog-content div#blog-info div#blog-title div#blog-edit-delete {
        gap: 25%;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime h3 {
        font-size: 0.75em;
    }

    main div#blog-content div#blog-info h3 {
        font-size: 0.75em;
    }

    main div#blog-content div#blog-info p {
        font-size: 0.9em;
    }

    section#recent-posts h3 {
        font-size: 1.2em;
    }

    section#recent-posts div.recent-post div.blog-info h4 {
        font-size: 1em;
    }

    section#recent-posts div.recent-post div.blog-info div.blog-datetime h5 {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 462px) {
    header nav#navigation.open a {
        font-size: 1em;
    }

    header nav#navigation.open a#login, header form#logout input#logout {
        font-size: 1em;
    }
}

@media screen and (max-width: 431px) {
    main div#blog-content div#blog-info div#blog-title {
        position: relative;
    }

    main div#blog-content div#blog-info div#blog-title div.blog-datetime {
        position: absolute;
        top: 100%;
        right: 12%;
    }
}
