html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'ABeeZee';
}

main {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

div.landingpage {
    width: 62%;
    filter: drop-shadow(6px 0 0 rgb(0, 0, 0, 0.36));
}

div.content-wrapper {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 62% 100%, 0 100%);
    background: rgb(240, 238, 238, 0.96);
    display: flex;
    flex-direction: column;
    gap: 35vh;
}

div.content-wrapper footer {
    display: flex;
}

div.content-wrapper footer img {
    margin-top: 12px;
    margin-left: 12px;
    width: 15%;
}

div.content-wrapper footer nav.navigation {
    margin: auto;
    display: flex;
    gap: 24px;
}

div.content-wrapper footer nav.navigation a {
    font-size: 1.875em;
    text-decoration: none;
    color: #3E3E3E;
    transition: 0.2s;
}

div.content-wrapper footer nav.navigation a:hover {
    color: #FFFFFF;
}

div.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10%;
}

div.titles {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.titles h1,h2 {
    margin: 0;
    font-weight: normal;
    color: #3E3E3E;
    width: fit-content;
}

div.titles h1 {
    font-size: 3.75em;
}

div.titles h2 {
    font-size: 1.5625em;
}

div.content-wrapper img {
    width: 14%;
    margin-top: 6%;
}

section#about {
    width: 100vw;
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#about h2 {
    margin: 0;
    margin-bottom: 1%;
    font-weight: normal;
    color: #3E3E3E;
    width: fit-content;
    font-size: 3.75em;
}

section#about p {
    text-align: center;
    width: 50%;
    font-size: 1.5625em;
    color: #3E3E3E;
}

section#about p em {
    font-weight: 700;
    font-style: normal;
    color: #000000
}

section#portfolio {
    width: 100vw;
    min-height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#portfolio h2 {
    font-size: 3.75em;
    color: #3E3E3E;
}

section#portfolio p {
    font-size: 1.5625em;
    color: #3E3E3E;
    width: 70%;
    text-align: center;
}

section#portfolio div.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 1fr));
    grid-row-gap: 50px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
    justify-items: center;
}

section#portfolio div.projects div.card {
    width: 85%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.36);
}

section#portfolio div.projects div.card img {
    width: 100%;
}

section#portfolio div.projects div.card p {
    text-align: center;
    font-size: 1.25em;
    height: 100%;
    width: auto;
}

#scroller {
    display: none;
    width: 3%;
    position: fixed;
    z-index: 1;
    bottom: 1%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#scroller.scrolled {
    display: block;
}
